.main{
    flex:0.8;
    width: 80%;
    padding: 10px 10px ;
    padding-bottom: 0px;
    border: 1px solid green;
    
}
.main> hr{
    margin-top: 3px;
    margin-bottom: 4px;
    background-color: rgb(119, 115, 115);
}
.videoArea{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
   
}

